body{
    margin: 0 !important;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, body, span, div{
	font-family: 'Poppins', sans-serif !important;
	line-height: 1.5;
}

html{
    background-color: #FAFAFA;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


@media (min-width: 0px) {
	html{
		font-size: 10px;
	}
}

@media (min-width: 300px) {
	html{
		font-size: 12px;
	}
}

@media (min-width: 600px) {
	html{
		font-size: 14px;
	}
}

@media (min-width: 900px) {
	html{
		font-size: 16px;
	}
}

@media (min-width: 1200px) {

}

@media (min-width: 1536px) {

}

.shrink-click{
	transition: transform 0.2s ease-in-out;
}
.shrink-click:active{
	transform: scale(0.95);
}

.pop-in{
	animation: pop-in 0.3s ease-in-out;
}

.MuiTouchRipple-root{
    display: none !important;
}

.MuiPaginationItem-sizeMedium{
	height: 1.8rem !important;
	width: 1.8rem !important;
	min-width: unset !important;
}

.no-scrollbar{
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
	display: none;  /* Safari and Chrome */
}


@keyframes pop-in {
	0%{
		opacity: 0;
		transform: scale(0.9);
	}
	50%{
		opacity: 1;
		transform: scale(1.02);
	}
	100%{
		opacity: 1;
		transform: scale(1);
	}
}